// Buttons
.button {
  font-size: 1.25rem;
  padding: 0.75rem 3rem;
  text-decoration: none;
  font-weight: 700;
  color: $grey !important;
  display: inline-block;
  position: relative;

  span {
    position: relative;
    z-index: 3;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid $grey;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 10px;
    @extend .transitions;
  }

  &:hover::after {
    top: 0;
    left: 0;
  }

  &:active {
    transform: scale(0.9);
  }
}

.button--under::after {
  background-color: rgba($lemon, 0.5);
}

.button--yellow::after {
  background-color: $yellow;
}
