// Buttons
.button {
  font-size: 1.25rem;
  padding: 0.75rem 2rem;
  text-decoration: none;
  font-weight: 700;
  color: $grey !important;
  display: inline-block;
  position: relative;

  span {
    position: relative;
    z-index: 3;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid $grey;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 10px;
    @extend .transitions;
  }

  &:hover::after {
    top: 0;
    left: 0;
  }

  &:active {
    transform: scale(0.9);
  }
}

.button--under::after {
  background-color: rgba($lemon, 0.5);
}

.button--yellow::after {
  background-color: $yellow;
}

// Mobile Toggler
.button-toggler {
  box-shadow: none !important;
  background-color: $yellow;
  @extend .transitions;

  span {
    background-image: url("data:image/svg+xml,%3Csvg width='132' height='113' viewBox='0 0 132 113' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 9.875C0 4.89453 4.10156 0.5 9.375 0.5H121.875C126.855 0.5 131.25 4.89453 131.25 9.875C131.25 15.1484 126.855 19.25 121.875 19.25H9.375C4.10156 19.25 0 15.1484 0 9.875ZM0 56.75C0 51.7695 4.10156 47.375 9.375 47.375H121.875C126.855 47.375 131.25 51.7695 131.25 56.75C131.25 62.0234 126.855 66.125 121.875 66.125H9.375C4.10156 66.125 0 62.0234 0 56.75ZM121.875 113H9.375C4.10156 113 0 108.898 0 103.625C0 98.6445 4.10156 94.25 9.375 94.25H121.875C126.855 94.25 131.25 98.6445 131.25 103.625C131.25 108.898 126.855 113 121.875 113Z' fill='black' fill-opacity='0.55'/%3E%3C/svg%3E%0A");
  }

  &:not(.collapsed) {
    span {
      background-image: url("data:image/svg+xml,%3Csvg width='97' height='96' viewBox='0 0 97 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M92.8203 79.8047C96.6289 83.3203 96.6289 89.4727 92.8203 92.9883C91.0625 94.7461 88.7188 95.625 86.375 95.625C83.7383 95.625 81.3945 94.7461 79.6367 92.9883L48.875 62.2266L17.8203 92.9883C16.0625 94.7461 13.7188 95.625 11.375 95.625C8.73828 95.625 6.39453 94.7461 4.63672 92.9883C0.828125 89.4727 0.828125 83.3203 4.63672 79.8047L35.3984 48.75L4.63672 17.9883C0.828125 14.4727 0.828125 8.32031 4.63672 4.80469C8.15234 0.996094 14.3047 0.996094 17.8203 4.80469L48.875 35.5664L79.6367 4.80469C83.1523 0.996094 89.3047 0.996094 92.8203 4.80469C96.6289 8.32031 96.6289 14.4727 92.8203 17.9883L62.0586 49.043L92.8203 79.8047Z' fill='black' fill-opacity='0.55'/%3E%3C/svg%3E%0A");
    }
  }

  &:active {
    transform: scale(0.9);
  }
}
