@import '../../styles/app.scss';

// Header
header {
  @media (min-width: 768px) {
    position: sticky;
    top: 0;
    z-index: 999;
  }
}

.quick-links {
  background-color: $dark-green;

  .col {
    padding: 0;
  }

  .useful,
  .featured {
    &__link {
      font-size: 0.875rem;
      color: $lemon;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      &:hover {
        color: white;
      }
    }
  }

  .featured {
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;

    &__icon {
      font-size: 1rem;
    }
    &__link--bell {
      position: relative;

      &::before {
        content: '';
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 50%;
        background-color: $yellow;
        position: absolute;
        top: 0.5rem;
        right: 0;
      }
    }
  }

  @media (max-width: 767.98px) {
    .useful {
      display: none;
    }
    .featured {
      justify-content: center;
      gap: 1rem;
    }
  }
}

.main-navigation {
  margin-bottom: 2rem;
  border-bottom: 1px solid white;
  padding: 1rem 0;
  @extend .gradient-green;

  .row {
    align-items: center;
  }

  &__stack {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    row-gap: 1rem;
    flex-wrap: wrap;
  }

  &__brand.brand {
    display: block;
    margin: 0;
    font-weight: 700;
    color: white !important;

    .brand__icon {
      margin-right: 0.5rem;
    }
  }

  &__products,
  &__actions {
    gap: 0.5rem;
  }

  &__actions {
    flex-shrink: 0;
    justify-content: end;
    margin-left: auto;
  }

  &__link {
    color: white;
    font-weight: 700;
    border-radius: 10px;
    padding: 0.5rem;

    &:hover {
      color: white;
      background-color: $dark-green !important;
    }
  }

  .actions {
    &__link--hglt {
      border-radius: 10px;
      background-color: rgba($dark-green, 0.5);
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &__icon {
      color: $yellow;
    }
  }

  @media (min-width: 576px) {
    &__collapse {
      flex-grow: 0;
    }
  }

  @media (max-width: 767.98px) {
    &__stack {
      gap: 0;
    }

    &__slim {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid white;
    }

    &__collapse {
      width: 100%;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }

    &__actions {
      width: 100%;
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    &__actions.actions {
      flex-direction: row;

      .actions__link--hglt {
        width: 100%;
      }
    }
  }
}
