@import '../../styles/app.scss';

// Footer
.footer {
  color: white;

  &__navigation {
    padding: 4rem 0;
    @extend .gradient-green;
  }

  &__top {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 6px solid $lemon;
  }

  &__brand {
    display: block;
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-size: 1.25rem;
    color: white !important;

    .logo-icon {
      margin-right: 0.5rem;
    }
  }

  &__title {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: $dark-green;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__link {
    display: inline;
    text-decoration: none;
    color: white;

    &:hover {
      color: rgba(white, 0.5);
    }
  }

  .app {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 6px solid $lemon;

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
  .social {
    &__list {
      display: flex;
      gap: 1rem;
    }
    &__link {
      font-size: 2rem;
      color: $dark-green;

      &:hover {
        color: rgba($dark-green, 0.5);
      }
    }
  }

  .copyright {
    padding: 0.25rem 2rem;
    background-color: $dark-green;
    color: $lemon;
    font-size: 0.875rem;
    text-align: center;
  }

  @media (max-width: 991.98px) {
    text-align: center;

    .app__list,
    .social__list {
      justify-content: center;
    }

    &__section {
      margin-bottom: 3rem;
    }

    &__section--last {
      margin-top: 2rem;
      margin-bottom: 0rem;
    }
  }
}
